http_interactions:
- recorded_at: Wed, 24 Nov 2021 17:15:13 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"cases":[{"name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113
        message","name":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113","options":{"detectionMethod":"third_party","evaluationWindow":0,"keepAlive":3600,"maxSignalDuration":86400,"thirdPartyRuleOptions":{"defaultStatus":"low","rootQuery":"@pop"}},"queries":[{"aggregation":"none","distinctFields":[],"groupByFields":[],"query":"@test:true"}],"tags":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Reset:
      - '47'
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      encoding: UTF-8
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113
        message","options":{"detectionMethod":"third_party","evaluationWindow":0,"maxSignalDuration":86400,"thirdPartyRuleOptions":{"defaultStatus":"low","defaultNotifications":[],"rootQuery":"@pop"},"keepAlive":3600},"version":1,"createdAt":1637774113764,"filters":[],"queries":[{"query":"@test:true","groupByFields":[],"aggregation":"none","name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":""}],"type":"log_detection","id":"va8-eze-ku8","isDefault":false,"name":"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113"}'
    status:
      code: 200
      message: OK
- recorded_at: Wed, 24 Nov 2021 17:15:13 GMT
  request:
    body: null
    headers:
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Period:
      - '60'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Reset:
      - '47'
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/va8-eze-ku8
  response:
    body:
      encoding: UTF-8
      string: ''
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
